main {
  height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  padding-top: 60px;
}

footer {
  height: 50px;
}

.bg-home {
  background-color: #cccccc;
}

h1{
  font-size:24px;
  font-weight:bold;
}
h2{
  font-size:20px;
  font-weight:bold;
}

.field{
  width:350px;
}